use rdf_types::{BTreeDataset, pattern::Pattern, Quad};

type Term = Pattern<u32, u32>;

fn test(a: BTreeDataset<Term>, b: BTreeDataset<Term>) {
	if rdf_types::find_bijection(&a, &b).is_some() {
		panic!("bijection found!")
	}
}
