use rdf_types::{dataset::BTreeDataset, domain::sealed::MaybeVariable, Quad};
use std::collections::BTreeMap;

#[derive(Debug, Clone, PartialEq, Eq, PartialOrd, Ord)]
enum Term {
	Ground(u32),
	Var(u32),
}

impl MaybeVariable for Term {
	fn is_ground(&self) -> bool {
		matches!(self, Term::Ground(_))
	}
}

fn test(a: BTreeDataset<Term>, b: BTreeDataset<Term>) {
	match rdf_types::find_bijection(&a, &b) {
		Some(bijection) => {
			let substitution: BTreeMap<_, _> = bijection
				.forward
				.into_iter()
				.map(|(a, b)| (a.into_owned(), b))
				.collect();
			let c: BTreeDataset<Term> = a
				.into_iter()
				.map(|q| {
					q.map(|t| {
						if matches!(t, Term::Var(_)) {
							(**substitution.get(&t).unwrap()).clone()
						} else {
							t
						}
					})
				})
				.collect();
			assert_eq!(c, b)
		}
		None => panic!("no substitution found"),
	}
}
