use rdf_types::{dataset::BTreeDataset, pattern::Pattern, Quad};
use std::collections::BTreeMap;

type Term = Pattern<u32, u32>;

fn test(a: BTreeDataset<Term>, b: BTreeDataset<Term>) {
	match rdf_types::find_bijection(&a, &b) {
		Some(bijection) => {
			let substitution: BTreeMap<u32, u32> = bijection
				.forward
				.into_iter()
				.map(|(a, b)| (*a, *b))
				.collect();
			let c: BTreeDataset<Term> = a
				.into_iter()
				.map(|q| {
					q.map(|t| match t {
						Term::Var(x) => Term::Var(*substitution.get(&x).unwrap()),
						Term::Ground(_) => t,
					})
				})
				.collect();
			assert_eq!(c, b)
		}
		None => panic!("no substitution found"),
	}
}
